---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';
import Footer from '../components/footer.astro';
import Card from '../components/Card.astro';
import Intro from '../components/Intro.astro';
---

<Layout title="Etica.">
	<main>
		<Header/>
		<br/>
		<Intro/>
		<div>
			<h2 >Publicaciones</h2>
			<Card/>
		</div>
	</main>
	<Footer/>
</Layout>

<style>
	main {
		margin: auto;
		padding: 1rem;
		width: 800px;
		max-width: calc(100% - 2rem);
		color: white;
		font-size: 20px;
		line-height: 1.6;
	}
	h2{
		background: linear-gradient(to right, blue, pink);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
	}
</style>
