---
const cards = [
  {
    title: "Tema 1",
    content: "lorem ipsum dolor sit amet consectetur adipisicing elit sed do eiusmod tempor incididunt ut labore et dolore magna aliqua."
  },
  {
    title: "Tema 2",
    content: "lorem ipsum dolor sit amet consectetur adipisicing elit sed do eiusmod tempor incididunt ut labore et dolore magna aliqua."
  },
  {
    title: "Tema 3",
    content: "lorem ipsum dolor sit amet consectetur adipisicing elit sed do eiusmod tempor incididunt ut labore et dolore magna aliqua."
  }
];
---

<section>
  {cards.map(card => (
    <div class="card ">
      <div>
        <h2  class="text-gradient" >{card.title}</h2>
        <p>{card.content}</p>   
      </div>
    </div>
  ))}
</section>

<style>
  .card {
    border: 1px solid #ffffff;
    padding: 16px;
    margin-top: 16px;
    border-radius: 8px;
    color: #ccc;
    box-shadow: 0 0 10px rgba(255, 105, 180, 0.5);

    background-image: radial-gradient(black 55%, #0000),
      linear-gradient(
        135deg,
        cyan,
        blue,
        indigo,
        deeppink,
        cyan,
        blue,
        indigo,
        deeppink
      );
  background-size: 100% 0.7%, contain;
}
.text-gradient {
  background: linear-gradient(45deg, #ff6b6b, #f06595, #cc5de8, #845ef7, #5c7cfa, #339af0, #22b8cf, #20c997, #51cf66, #94d82d, #fcc419, #ff922b);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
</style>