---

---

<section>
    <span class="mark_text prose" style="font-size: 4rem; font-weight: 500;">¡Hola!</span>
    <p>
        En este blog, explicaremos temas y cuestiones éticas que nos rodean en nuestra vida diaria. Desde la moralidad y la justicia hasta la responsabilidad y la compasión, analizaremos los desafíos y oportunidades que plantea la toma de decisiones éticas.
    </p>
    <h2>La ética en nuestra vida diaria</h2>
    <p>
        La ética no es solo un tema de debate filosófico, sino que también es una parte integral de nuestra vida diaria. Cada día, tomamos decisiones que afectan a nosotros mismos y a los demás. ¿Cómo podemos asegurarnos de que nuestras decisiones sean éticas y justas?
    </p>
    <p>En este blog, exploraremos temas como:</p>
    <ul>
        <li>La moralidad y la justicia</li>
        <li>La responsabilidad y la compasión</li>
        <li>La ética en la política y la economía</li>
        <li>La ética en la tecnología y la innovación</li>
        <li>La ética en la vida personal y profesional</li>
    </ul>
</section>

<style>
    section {
        margin-top: 2rem;
        font-size: 1.25rem;
        line-height: 1.6;
        text-wrap: balance;
    }
    @media (max-width: 600px) {
        section {
            font-size: 1rem;
        }
    }
    .mark_text{
        background: linear-gradient(to right, blue, pink);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
</style>