---

---

<section>
    <span class="mark_text prose" style="font-size: 4rem; font-weight: 500;">¡Hola!</span>
    <p> 
        La ética es como un faro que nos guía en el camino de la vida, ayudándonos a distinguir entre lo correcto y lo incorrecto. 
        Es como un gran rompecabezas que filósofos como <span class="mark_text">Aristóteles</span>, <span class="mark_text">Kant</span> y los <span class="mark_text">utilitaristas</span> han intentado armar durante siglos. 
        Cada uno ha aportado una pieza diferente, buscando comprender los dilemas éticos que enfrentamos todos los días.
    </p>
    <p>
        Pero la ética no se queda solo en los libros, ¡se vive! 
        Se forja en cada decisión que tomamos, en cada interacción que tenemos con los demás. 
        Es como un árbol que crece con nuestras experiencias, nutriéndose de la observación y la interacción con el mundo que nos rodea, como decía <span class="mark_text">Albert Bandura</span>.
    </p>
    <p>
        La psicología también nos ayuda a entender mejor la ética, como un detective que investiga cómo nuestros pensamientos, sentimientos y el entorno social influyen en nuestras decisiones morales. 
        <span class="mark_text">Lawrence Kohlberg</span> nos enseñó que el desarrollo moral es como un viaje, un camino que vamos recorriendo desde la obediencia por miedo al castigo hasta la búsqueda de principios universales que nos guíen en la vida.
    </p>
    <p>
        En definitiva, la ética es un viaje personal que nos acompaña a lo largo de toda nuestra vida, un viaje que nos invita a reflexionar, a crecer y a construir un mundo mejor.
    </p>
    <p style="font-size: x-large;">
        ¡Bienvenidos a este viaje! 🍎👋
    </p>
</section>

<style>
    section {
        margin-top: 2rem;
        font-size: 1.25rem;
        line-height: 1.6;
        text-wrap: balance;
    }
    @media (max-width: 600px) {
        section {
            font-size: 1rem;
        }
    }
    .mark_text{
        background: linear-gradient(to right, blue, pink);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
</style>